@import url(./reset.css);
:root{
    --color01:#0D0D0D;
    --color02:#222A59;
    --color03:#262473;
    --color04:#7E49F2;
    --color05:#3F2140;
}

/* -------------------- */
body{
    background-color:var(--color01);
    display: flex;
    justify-content: center;

}
.game{
    margin: 1rem;
    background-color: var(--color02);
    width: 80%;
}
/* -------------------- */


.game__board{
width: 80%;
height: 500px;
border: 5px solid var(--color05);
margin: auto;
position: relative;
}

.obstaculo{
    position: absolute;
    bottom: 0;
    width: 5rem;
    right: 0;
}